<form role="form"
      novalidate
      appAutofocus
      [formGroup]="form"
      (ngSubmit)="onSubmit($event)"
      class="push-top-md">
  <!--&lt;!&ndash; form construct &ndash;&gt;-->
  <mat-card-content>
    <formly-form [form]="form" [options]="options" [fields]="fields" [model]="model"></formly-form>
  </mat-card-content>
  <!-- recover pass or go to login page links if necessary -->
  <ng-content select="[otherAction]"></ng-content>
  <!-- buttons -->
  <mat-card-actions>
    <mat-toolbar color="primary" fxFlex fxLayout="column"
                 fxLayoutAlign="center center" *ngIf="!disabled">
      <button color="accent" mat-button type="submit" [disabled]="!form.valid">{{submitTitle}}</button>
    </mat-toolbar>
  </mat-card-actions>
</form>
