@import 'theme';

.theme-dark {
  $primary-dark: mat-palette($mat-deep-orange, 900, 500, 800);
  $accent-dark:  mat-palette($mat-blue-grey, A200, A100, A400);
  $warn-dark:    mat-palette($mat-red, 800, 600, A100);

  $theme-dark: mat-dark-theme($primary-dark, $accent-dark, $warn-dark);
  @include angular-material-theme($theme-dark);
  @include covalent-theme($theme-dark);

  .tc-primary {
    color: mat-color($primary-dark);
  }
  .tc-accent,
  a {
    color: mat-color($accent-dark, A400);
  }
  a:hover {
    color: darken(mat-color($accent-dark, A400), 10%);
  }
  .tc-warn {
    color: mat-color($warn-dark);
  }
  .mat-caption {
    color: mat-color($primary-dark);
  }

  .toolbar-profile {
    background-color: mat-color($primary-dark, 700);
  }
  .divider-vertical {
    background: mat-color($primary-dark, 900);
  }
  .mat-card {
    &.user-not-active {
      color: mat-color($accent-dark, 100);
      background: mat-color($accent-dark, 300) repeating-linear-gradient(45deg, mat-color($accent-dark, 400), mat-color($accent-dark, 400) 35px, mat-color($accent-dark, 300) 35px, mat-color($accent-dark, 300) 70px);
    }
  }

}
