.display-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
}

.display-flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-content: space-between;
}

.flex-align-items-center {
  align-items: center;
}

.flex-1 {
  flex: 1;
  max-width: 100%;
}

.flex-2 {
  flex: 2;
  max-width: 50%;
}

.flex-3 {
  flex: 3;
  max-width: 33%;
}

.flex-4 {
  flex: 4;
  max-width: 25%;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

[class*='flex-'] {
  padding-left: 10px;
  padding-right: 10px;
}

[class*='flex-']:first-child {
  padding-left: 0;
}

[class*='flex-']:nth-last-child(2) {
  padding-right: 0;
}
