@import 'theme';
@import 'mixins';

a {
  text-decoration: none;
  color: mat-color($primary, 600);
  &:hover {
    color: mat-color($primary, 800);
  }
}

.mat-icon.full-content-size {
  height: 100%;
  width: 100%;
}

.full-width-and-height {
  height: 100vh;
  width: 100vw;
}

.mat-toolbar {
  .mat-icon.mat-icon-logo {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }
}

.avatar-border {
  @include border(2px, solid, mat-color($primary, 100));
}

.divider-vertical {
  width: 1px;
  height: 100%;
  background: mat-color($primary, 400);
  margin: 0 0 0 10px;
  padding: 0;
}

// router transition configuration
router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}
