<div class="full-width-and-height bgc-grey-200" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <!-- toolbar header -->
    <mat-toolbar
      fxFlex fxLayout="column" fxLayoutAlign="center center"
      fxLayoutGap="5px" color="accent" class="text-upper">
      <div mat-card-avatar>
        <mat-icon class="full-content-size" svgIcon="llecoop"></mat-icon>
      </div>
      <ng-content select="[title]"></ng-content>
    </mat-toolbar>
    <!-- main card content on init -->
    <ng-content select="[card-content-form]"></ng-content>
    <!-- main card content on response when some action has taken ( correctly sending a form ) -->
    <ng-content select="[postSending]"></ng-content>
    <!-- footer -->
    <mat-card-footer fxFlex fxLayout="column" fxLayoutAlign="center center">
      <div class="mat-caption pad-top-xs">
        <a [href]="config.ownerLink" target="_blank">{{config.owner}}</a> -
        {{config.product | uppercase}} {{config.slogan}} {{config.year}}
        by <a [href]="config.developerLink" target="_blank">{{config.developer}}</a>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
