<div class="full-width-and-height bgc-grey-200" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="auth-card">
    <mat-toolbar
      fxFlex fxLayout="column" fxLayoutAlign="center center"
      fxLayoutGap="5px" color="accent" class="text-upper">
      <div mat-card-avatar>
        <mat-icon class="full-content-size" svgIcon="llecoop"></mat-icon>
      </div>
      <ng-content select="[title]"></ng-content>
    </mat-toolbar>
    <ng-content select="app-card-content-form"></ng-content>
    <mat-card-footer fxFlex fxLayout="column" fxLayoutAlign="center center">
      <div class="mat-caption pad-top-xs">
        <a [href]="config.ownerLink" target="_blank">{{config.owner}}</a> -
        {{config.product | uppercase}} {{config.slogan}} {{config.year}}
        by <a [href]="config.developerLink" target="_blank">{{config.developer}}</a>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
