<div fxLayout="row" fxLayoutGap="5px"
     fxLayoutAlign="space-around center"
     class="toolbar-profile pad-left-xs">
  <img *ngIf="basicProfile.img" [alt]="basicProfile.fullName"
       mat-card-avatar class="size-28 avatar-border" [src]="basicProfile.img">
  <div class="profile-salutation">Hola {{basicProfile.name }}!</div>
  <div class="divider-vertical"></div>
  <button mat-icon-button [matMenuTriggerFor]="profileMenu" class="push-none">
    <mat-icon>more_vert</mat-icon>
  </button>
</div>
