<td-layout [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
           [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '200px' : '100%'">

  <td-layout-nav-list
    [toolbarTitle]="(media.registerQuery('gt-xs') | async) ? 'Llecoop' : ''" logo="llecoop"
    navigationRoute="/" [opened]="media.registerQuery('gt-sm') | async"
    [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'over'"
    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '350px' : '100%'">

    <div td-toolbar-content fxFlex="row" fxFlexAlign="start center">
      <button mat-icon-button tdLayoutNavListOpen [hideWhenOpened]="true">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span fxFlex="row"></span>
      <!-- profile btn -->
      <div *ngIf="(basicProfile$ | async); let pf;" fxLayout="row" fxLayoutGap="5px"
           fxLayoutAlign="space-around center"
           class="toolbar-profile pad-left-xs">
        <img *ngIf="pf.img" [alt]="pf.fullName"
             mat-card-avatar class="size-28 avatar-border" [src]="pf.img">
        <div>Hola {{pf.name }}!</div>
        <div class="divider-vertical"></div>
        <button mat-icon-button [matMenuTriggerFor]="notificationsMenu" class="push-none">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>

      <mat-menu #notificationsMenu="matMenu">
        <td-menu>
          <div td-menu-header class="mat-subhead">{{(basicProfile$ | async)?.fullName}}</div>
          <mat-nav-list dense>
            <a mat-list-item (click)="logout()">
              <mat-icon matListAvatar>close</mat-icon>
              <h4 mat-line>
                <span class="text-wrap">Logout</span>
              </h4>
              <p mat-line>Tancar sessió</p>
            </a>
          </mat-nav-list>
          <a mat-button td-menu-footer routerLink="/profile">
            <mat-icon matListAvatar>edit</mat-icon>
            Veure el meu perfil
          </a>
        </td-menu>
      </mat-menu>

      <!-- ui light or dark selector -->
      <app-theme-selector
        (emitTheme)="changeTheme($event)"
        [currentTheme]="theme$ | async"
        [themes]="themes"></app-theme-selector>
    </div>

    <mat-nav-list td-sidenav-content [tdLayoutNavListClose]="!media.query('gt-sm')">
      <ng-template let-item let-i="index" let-last="last" ngFor [ngForOf]="routes">
        <a mat-list-item>
          <img matListAvatar src="https://api.adorable.io/avatars/285/{{i}}@adorable.io.png"/>
          <h3 matLine> {{item.title}} </h3>
          <p matLine> Email description goes here </p>
          <mat-icon class="tc-amber-800">fiber_new</mat-icon>
        </a>
        <mat-divider *ngIf="!last" mat-inset></mat-divider>
      </ng-template>
    </mat-nav-list>

    <div tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
      <app-dashboard-content></app-dashboard-content>
    </div>

    <td-layout-footer>
      <app-dashboard-footer [config]="config"></app-dashboard-footer>
    </td-layout-footer>

  </td-layout-nav-list>
</td-layout>
